<!DOCTYPE html>
<html>
<head>
    <title>Create Rule</title>
</head>
<body>
    <h1>Create a New Rule</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Rule</button>
    </form>
    
    
</body>
</html>

{% comment %} 
<!DOCTYPE html>
<html>
<head>
    <title>Create Rule</title>
</head>
<body>
    <h1>Create a New Rule</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    
    <a href="{% url 'home' %}">Back to Home</a> 
</body>
</html> {% endcomment %}
